<!-- Contact -->
<div class="container">
  <div class="col-md-4 col-normalize">
    <h2>Riku Kiranatama</h2>
    <%= image_tag 'avatar.jpg', :class => 'avatar' %>
  </div>
  <div class="col-md-8">
    <%= form_tag '#', :method => 'get', :class => 'form-horizontal' do %>
      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <%= email_field_tag 'email', '', :class => 'form-control', :id => 'email', :placeholder => 'Email Anda' %>
        </div>
      </div>
      <div class="form-group">
        <label for="message" class="col-sm-2 control-label">Message</label>
        <div class="col-sm-10">
        <%= text_area_tag 'message', '', :class => 'form-control', :id => 'message', :rows => 12, :placeholder => 'Message Anda' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <%= submit_tag 'Submit', :class => 'btn btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
